@model DBv3.Models.CAR

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CAR</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PERSON.USERNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSON.USERNAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CARNUMBER, pr = Model.PROVINCE }) |
    @Html.ActionLink("Back to List", "Index")
</p>
