
@{
    ViewBag.Title = "FollowEM";
}

<h2>FollowEM</h2>
@Html.ActionLink("ขาด","Index","ABSENCs") <br />
@Html.ActionLink("ลา", "Index", "LEAVEs") <br />
@Html.ActionLink("สาย", "Index", "LATEs") <br />
@Html.ActionLink("Back to Menu", "UserHome", "Home") <br />
